@import url('https://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic');
/*
font-family: 'Ubuntu', sans-serif;
*/
*{
	margin: 0;
	padding: 0;
}
body, html {
	width: 100%;
	height: 100%;
}
body {
	background-color: #a1bfc4;
	font-family: 'Ubuntu', sans-serif; /* шрифт для сайта*/
	color: #007a96;
	font-size: 1;
}
button, input[type=submit] {
	border: 2px solid #007a96;
	outline: none;
	background-color: #a1bfc4;
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0;
	color: #007a96;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;	
	font-family: 'PT Sans', sans-serif;
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}
#content{
	flex: 1 0 auto;
}
button:hover, input[type=submit]:hover{
	border: 2px solid #007a96;
	background-color: #007a96;
	color: #fff;
}

/* активная кнопка */
.button2 {
	border: 2px solid #007a96;
	outline: none;
	background-color: #007a96;
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0;
	color: #fff;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;	
	font-family: 'PT Sans', sans-serif;
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.button2:hover{
	border: 2px solid #007a96;
	background-color: #a1bfc4;
	color: #007a96;;
}




.poleText{
	border: 2px solid #007a96; /*цвет рамки*/
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0; /*закругление углов (Safari)*/
	background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
	outline: none;  /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
	color: #007a96;
	font-size: 1.1em;
	text-align:center;
	margin-bottom:1%;
	padding:3px 10px;	
}
.poleText2{
	border: 2px solid #007a96; /*цвет рамки*/
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0; /*закругление углов (Safari)*/
	background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
	outline: none;  /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
	color: #007a96;
	font-size: 0.9em;
	margin-bottom:1%;
	padding:3px 10px;	
}

.poleText3{
	border: 2px solid #007a96; /*цвет рамки*/
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0; /*закругление углов (Safari)*/
	background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
	outline: none;  /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
	color: #007a96;
	font-size: 0.9em;
	margin-bottom:1%;
	padding:3px 10px;	
	width: 50px;
}



a{
	color: #007a96;
	text-decoration: none;
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	outline: none;
	font-weight: 600;
	
}
a:hover {
	color:#0f9dbd;
	text-decoration: none;
	transition: all.3s ease;
	-ms-transition: all.3s ease;
	-o-transition: all.3s ease;
	-moz-transition: all.3s ease;
	-webkit-transition: all.3s ease;
}
hr {
	border: 0;
    height: 1px;
    background: #007a96;
	/*background-image: linear-gradient(to right, #0f9dbd, #08839e, #ccc);*/
}

/*  Кнопка ссылка */
.buttonSCR{
	border: 2px solid #007a96;
	outline: none;
	background-color: #a1bfc4;
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0;
	color: #007a96;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;	
	font-family: 'PT Sans', sans-serif;
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-size: 0.8em
}
.buttonSCR:hover{
	background-color: #007a96;
	color: #fff;

}
textarea{
	resize: none;
	border: 2px solid #007a96; /*цвет рамки*/
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0; /*закругление углов (Safari)*/
	background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
	outline: none;  /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
	color: #007a96;
	font-size: 1.1em;	
	padding:3px 10px;
	overflow: auto;
}

/*радио кнопки*/
.lab1 {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 0.9em;
}

input[type=radio] {
	display: none;
}

.lab1:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #007a96;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.lab1:before {
	border-radius: 10px;
}

input[type=radio]:checked + .lab1:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 29px;
    text-align: center;
    line-height: 14px;
}
/* чек бокс */

.lab2 {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 0.9em;
}

input[type=checkbox] {
	display: none;
}

.lab2:before {
	content: "";
	display: inline-block;

	width: 16px;
	height: 16px;

	/* margin-right: 10px; */
	position: absolute;
	left: 0;
	/* bottom: 1px; */
	background-color: #007a96;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.lab2:before {
	border-radius: 15px;
}
input[type=checkbox]:checked + .lab2:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 0.9em;
	color: #fff;
	text-align: center;
    line-height: 15px;
}

/* поле со списком */
select{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid #007a96; /*цвет рамки*/
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0; /*закругление углов (Safari)*/
	background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
	outline: none;  /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
	color: #007a96;
	font-size: 1.1em;
	text-align:center;
	margin-bottom:1%;
	padding:3px 10px;	
}
select::-ms-expand {  /* для IE */ 
	  display: none;
}

.select2{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid #007a96; /*цвет рамки*/
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0; /*закругление углов (Safari)*/
	background: #ffffff !important; /*желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/
	outline: none;  /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
	color: #007a96;
	font-size: 0.9em;
	text-align:center;
	margin-bottom:1%;
	margin-top: 1%;
	padding:3px 10px;		
}
.select2::-ms-expand {  /* для IE */ 
	  display: none;
}

/* выбрать файлы */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + .lab3 {
	border: 2px solid #007a96;
	outline: none;
	background-color: #a1bfc4;
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0;
	color: #007a96;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;	
	font-family: 'PT Sans', sans-serif;
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	font-size: 0.8em;
    /* font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
	display: inline-block; */
	
}
.inputfile:focus + .lab3,
.inputfile + .lab3:hover {
    background-color: #007a96;
	color: #fff;;
}
.inputfile + .lab3 {
	cursor: pointer; /* "hand" cursor */
}


#add_field{
	display: inline-block;
	border: 2px solid #007a96;
	outline: none;
	background-color: #a1bfc4;
	border-radius: 0; /*закругление углов (общее)*/
	-webkit-border-radius: 0; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 0; /*закругление углов (FireFox)*/
	-khtml-border-radius: 0;
	color: #007a96;
	padding-left:15px;
	padding-right:15px;
	padding-top:2px;
	padding-bottom:2px;	
	font-family: 'PT Sans', sans-serif;
	cursor:pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	margin: 2px;
}
#add_field:hover{
	border: 2px solid #007a96;
	background-color: #007a96;
	color: #fff;
}


/* ============================== */
#faf1, #faf2, #faf3, #faf4, #faf5, #faf6, #faf7, #faf8, #faf9{
	border: 2px solid #a1bfc4;
	height: 26px;
	width: 230px;
	padding: 1px;
}

.fileform { 
	background-color: #a1bfc4;	
    /* border: 2px solid #007a96; */
    /* border-radius: 2px; */
    cursor: pointer;
	/* height: 26px; */
	height: 30px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
	/* width: 230px; */
	 width: 234px;
}
 
.fileform .selectbutton { 
    background-color: #a1bfc4;
    border: 2px solid #007a96;
    /* border-radius: 2px; */
    color: #007a96;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 1px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
 
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
	z-index:20;
}



.fileform #fileformlabel1, #fileformlabel2, #fileformlabel3, #fileformlabel4, #fileformlabel5, #fileformlabel6, #fileformlabel7, #fileformlabel8, #fileformlabel9{ 
	background-color: #FFFFFF;
	float: left;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	padding: 2px;
	text-align: left;
	vertical-align: middle;
	width:160px;
	/* border: 1px solid #007a96; */
}
.org{
	display: none;
}

/* таблица в личном кабинете с объявлениями */
.ob1{ 
	border-collapse: separate; border-spacing: 1px 2px;
	/*border: 1px solid grey; устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
	width: 100%;
	padding: 4px;
}
.ob1tr{
	border-bottom: 2px solid #007a96;
}
.ob1tr1{
	border-top: 2px solid #007a96;	
	border-bottom: 2px solid #007a96;
}
.index_message{
	/* background-color: #0f9dbd; */
	float: left;
	padding: 0.5%;
	text-align:center;
}
.index_message:hover{
	background-color: #6eb5c5;
}
.index_message_img{
	/* background-color: aqua; */
	text-align:center;
	cursor:pointer;
}
.index_message_name{
	/* background-color: coral; */
	text-align:center;
	padding-top: 0.3%;
	cursor:pointer;
}
#mess1{
	float: left;
	width: 98%;
	padding-top: 4px;
	padding-left: 2%;
	padding-bottom: 6px; 
}
.mess2{
	float:left;
	width: 100%;
}
.mess2_1{
	float:left;
	width: 98%;
	margin: 1%;
}
.mess2_2{	
	width: 64%;
	padding-left: 1%;
	background-color: azure;
}
.mess3{
	float:left;
	margin: 1%;
	width: 31%;
	/* background-color: cornflowerblue; */
}
.mess3_1{
	float:left;
	margin: 1%;
	width: 31%;
	text-align:center;
	/* background-color: cornflowerblue; */
}
.img1{
	padding: 0.5%;
	cursor:pointer;
}
.img1:hover{
	background-color: #6eb5c5;
}
#fa_times, #fa_paper_plane, #fa_refresh_plane{
	cursor:pointer;
}
#fa_times:hover, #fa_paper_plane:hover, #fa_refresh_plane:hover{
	color: #6eb5c5;
}

/* Подсказка выпадающая. добавить в элемент data-tooltip="Всплывающая подсказка" */
[data-tooltip] {
    position: relative; /* Относительное позиционирование */ 
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    /* width: 300px; Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #007a96; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.2em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
} 
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}
/* ===================================== */
.abonent{
	float:left;	
	padding-right: 2%;
	padding-bottom: 1%;
}
#dialjg{
	display: none;
}
 /* скрыли кнопку обновить  */
#fa_refresh_plane{
	display: none;
}
/* иконка удаления диалога */
.fa-trash{
	margin: 2px;
	padding:2px 3px 3px 3px;
	cursor:pointer;	
}
.fa-trash:hover{
	color: #79b5c0;   
}

.clikTell{
	color: black;
}
.clikTell:header{
	color: black;
}

#edvedv{
	/* background-color: chocolate; */
	float: left;
	width: 100%;
	text-align: center;
}

.teh{
	/* float: right; Выравнивание по правому краю */
	float: left;
   /*  border: 1px solid #333; Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
	background: #f0f0f0; /* Цвет фона */ 
	width: 145px;
	height: 230px;
	cursor:pointer;
}
.teh figcaption {
	margin: 0 auto 5px;
}

.teh:hover{
	background:#79b5c0;
}

.save_log{
	display: inline-block;	
	padding: 2px;
	text-align: center;
}

.logo{
	border: 2px solid #007a96;	
	border-radius: 32%; /*закругление углов (общее)*/
	-webkit-border-radius: 32%; /*закругление углов (Google Chrome)*/
	-moz-border-radius: 32%; /*закругление углов (FireFox)*/
	-khtml-border-radius: 32%;	
}

.table_serhc{
	/* background-color: blue; */
	border-collapse: collapse;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	font-size: 1.2em;
	font-weight: bold;			
}


.table_serhc  td{
	border:  0;
	/* border: 1px solid #555; */
	padding: 2px;
	text-align: start;
	vertical-align: top;
	margin: 1px;
	/* padding: 4px; */
}
.belii{
	background-color: #fff;	
}
.poloska{
	background-color: #007a96;
	height: 5px;
	margin-top: 5px;	
	margin-bottom: 5px;
	margin-right: 0;
	margin-left: 0;	
	padding: 0;	
}
.ilia111{
	/* background-color: blueviolet; */
	float: left;
	width: 98%;
}

