#podlogka{
    float: left;
    width: 98%;    /* было 98wv */
    min-height: 82.5vh;
    padding: 3% 1%; 
}
#tabl1, #tablО{
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    /* border: 1px solid grey;  */
    width:98%;
    text-align: center;
}
#td1{
    vertical-align: text-top;
    width: 20%;
    background-color: #ffffff;
  
}

#tdO{    
    text-align: left; 
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;   
}

#td1>span{
    font-size: 1.1em;
}

#td2{
    vertical-align: text-top;
    padding-left: 1%;
    padding-right: 1%;
    /* background-color: blue; */
}

#td2>span{
    background-color:  #007a96;
    color: #ffffff;
    padding-bottom: 3px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;

}

#td3{
    vertical-align: text-top;
    width: 20%;
    /* background-color: aquamarine; */

}
#td_v{
    padding-bottom: 10px;
    text-align: left;
    padding-left: 3%;

}
.td_v>span{
    font-size: 1.1em;
}

#check5_v, #check6_v{
    opacity: 0;
}



